.arrow {
  position: relative;
  display: inline-block;
  min-width: 55px;
  min-height: 55px;
  color: $color-sapphire;
  background-color: $color-transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;

  @include vp-767 {
    min-width: 40px;
    min-height: 40px;
    padding: 0 0 0 28px;
  }

  @include hover-focus {
    box-shadow: inset 0 0 0 1px $color-sapphire;
    transition: box-shadow $trans-default;
  }

  @include active {
    color: $color-default-white;
    background-color: $color-sapphire;
    transition: all $trans-default;
  }

  @include disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}

.arrow__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  @include vp-767 {
    height: 19px;
  }
}
