.button {
  display: inline-block;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  border: none;
  outline-offset: 0;
  cursor: pointer;

  &--main {
    padding: 20px 55px 18px;
    background-color: $color-transparent;
    border: 2px solid $color-default-white;
    outline: 2px solid $color-default-white;
    transition: background-color $trans-default;

    @include vp-1199 {
      padding: 20px 31px 18px 32px;
    }

    @include vp-767 {
      padding-top: 21px;
      padding-bottom: 19px;
    }

    @include hover-focus {
      color: $color-egyptian-blue;
      background-color: $color-default-white;
    }

    @include active {
      color: $color-sapphire;
      background-color: $color-default-white;
    }

    @include disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &--secondary {
    position: relative;
    z-index: 0;
    padding: 24px 42px 23px;
    color: $color-sapphire;
    border: 1px solid $color-sapphire;
    outline: 1px solid $color-sapphire;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      background-image: $button-gradient;
      opacity: 0;
      transition: opacity $trans-default;
      inset: -1px;
    }

    @include vp-1199 {
      padding: 24px 42px 23px;
    }

    @include vp-767 {
      padding: 24px 42px;
    }

    @include hover-focus {
      color: $color-default-white;
      border-color: $color-transparent;
      outline: none;

      &::before {
        opacity: 1;
      }
    }

    @include active {
      color: rgba($color-default-white, 0.7);
      border-color: $color-transparent;
      outline: none;
    }

    @include disabled {
      outline: none;
      opacity: 0.3;
      pointer-events: none;
    }
  }
}
