.description__container {
  display: grid;
  min-height: 756px;
  padding-top: 120px;
  padding-bottom: 120px;
  gap: 0 82px;
  grid-template-columns: 355px 1fr;

  @include vp-1199 {
    padding-top: 101px;
    padding-bottom: 183px;
    gap: 0;
    grid-template-columns: 1fr;
  }

  @include vp-767 {
    padding-top: 64px;
    padding-bottom: 70px;
  }
}

.description__content {
  display: flex;
  flex-direction: column;
  width: 355px;
  margin-left: 60px;
  padding: 39px 0 0;

  @include vp-1199 {
    width: 100%;
    margin: 0 0 35px;
    padding: 0 50px;
    grid-area: 1/1/2/-1;
  }

  @include vp-767 {
    margin: 0 0 25px;
    padding: 0;
  }
}

.description__title {
  margin: 0 0 7px;
  font-weight: 600;
  font-size: 48px;
  font-family: $ff-alumni-sans;
  letter-spacing: 1.44px;

  @include vp-1199 {
    margin: 0 0 -1px;
    font-size: 42px;
    text-align: center;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 5px;
    font-size: 32px;
    text-align: left;
    letter-spacing: 0.96px;
  }
}

.description__parameters {
  margin: 0 0 39px;
  font-size: 18px;
  line-height: 150%;

  @include vp-1199 {
    margin: 0 0 34px;
    text-align: center;
  }

  @include vp-767 {
    margin: 0 0 24px;
    text-align: left;
  }
}

.description__body {
  @include vp-1199 {
    align-self: center;
  }

  @include vp-767 {
    padding-right: 30px;
  }
}

.description__body p {
  margin: 0 0 8px;
  font-weight: 300;
  line-height: 150%;

  @include vp-1199 {
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
  }
}

.description__body p:last-child {
  @include vp-1199 {
    display: none;
  }
}

.description__body > *:last-child {
  margin: 0;
}

.description__photo {
  grid-area: 1/2/2/-1;
  justify-self: end;

  @include vp-1199 {
    grid-area: 2/1/3/-1;
    justify-self: stretch;
  }

  @include vp-767 {
    margin: 0 -15px 40px;
  }
}

.description__photo img {
  height: 401px;
  object-fit: cover;

  @include vp-1199 {
    width: 100%;
    height: auto;
  }
}

.description__player {
  margin: 288px 0 0;
  grid-area: 1/2/2/-1;
  justify-self: start;

  @include vp-1199 {
    margin: auto calc(29% + 9px) -83px;
    grid-area: 2/1/3/-1;
    justify-self: stretch;
  }

  @include vp-767 {
    margin: 0 -15px 0;
    grid-area: 3/1/4/-1;
  }
}

.description__player img {
  height: 228px;
  object-fit: cover;

  @include vp-1199 {
    width: 100%;
    height: auto;
  }
}

.description__player iframe {
  width: 364px;
  height: 228px;

  @include vp-1199 {
    width: 100%;
  }
}
