.description__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 756px;
  padding: 120px 0 120px 60px;

  @include vp-1199 {
    flex-direction: column;
    align-items: center;
    padding: 101px 0 100px;
  }

  @include vp-767 {
    padding: 64px 0 70px;
  }
}

.description__content {
  display: flex;
  flex-direction: column;
  width: 355px;
  padding: 39px 0 0;

  @include vp-1199 {
    width: 100%;
    margin: 0 0 35px;
    padding: 0 50px;
  }

  @include vp-767 {
    margin: 0 0 25px;
    padding: 0;
  }
}

.description__title {
  margin: 0 0 7px;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 1.44px;

  @include vp-1199 {
    margin: 0;
    font-size: 42px;
    text-align: center;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 5px;
    font-size: 32px;
    text-align: left;
    letter-spacing: 0.96px;
  }
}

.description__parameters {
  margin: 0 0 39px;
  font-size: 18px;
  line-height: 27px;
  font-family: $ff-roboto-condensed;

  @include vp-1199 {
    margin: 0 0 33px;
    text-align: center;
  }

  @include vp-767 {
    margin: 0 0 24px;
    text-align: left;
  }
}

.description__text {
  @include vp-1199 {
    align-self: center;
  }

  @include vp-767 {
    padding-right: 30px;
  }
}

.description__text p {
  margin: 0 0 8px;
  font-weight: 300;
  line-height: 24px;
  font-family: $ff-roboto-condensed;

  @include vp-1199 {
    font-size: 16px;
    text-align: center;
  }

  @include vp-767 {
    text-align: left;
  }
}

.description__text p:last-child {
  @include vp-1199 {
    display: none;
  }
}

.description__photo {
  width: 660px;
  height: 401px;

  @include vp-1199 {
    width: 678px;
    height: 345px;
  }

  @include vp-767 {
    width: 320px;
    height: 313px;
    margin: 0 0 40px;
  }
}

.description__photo img {
  object-fit: cover;
}

.description__player {
  position: absolute;
  top: 408px;
  right: 359px;
  width: 364px;
  height: 228px;

  @include vp-1199 {
    position: relative;
    width: 266px;
    height: 167px;
    margin: -84px 0 0;
    inset: auto;
  }

  @include vp-767 {
    width: 320px;
    margin: 0;
  }
}
