.hero__container {
  display: flex;
  padding-bottom: 41px;
  color: $color-default-white;
  gap: 0 65px;

  @include vp-1199 {
    justify-content: space-evenly;
    padding-top: 18px;
    padding-bottom: 82px;
    gap: 0 30px;
  }

  @include vp-767 {
    display: block;
    padding-top: 18px;
    padding-bottom: 80px;
  }
}

.hero__content {
  position: relative;
  display: grid;
  align-items: start;
  gap: 50px 18px;
  grid-template-columns: 132px 245px;
  grid-template-rows: min-content;

  @include vp-1199 {
    gap: 38px 11px;
    grid-template-columns: 113px 200px;
  }

  @include vp-767 {
    gap: 25px 0;
    grid-template-columns: 113px 1fr;
  }
}

.hero__body-text p:first-child {
  margin-top: 295px;

  @include vp-1199 {
    margin-top: 186px;
  }

  @include vp-767 {
    margin-top: 175px;
    transform: translateX(-1px);
  }
}

.hero__body-text p {
  font-size: 14px;
  line-height: 150%;
  text-align: right;
}

.hero__body-title {
  margin: 101px 0 0;

  @include vp-1199 {
    margin: 50px 0 0;
  }

  @include vp-767 {
    margin: 50px 0 0;
  }
}

.hero__body-title p {
  margin: 0 50px 14px 0;
  font-weight: 600;
  font-size: 48px;
  font-family: $ff-alumni-sans;
  text-align: end;
  letter-spacing: 1.44px;

  @include vp-1199 {
    margin: 0 4px 7px 0;
    font-size: 34px;
    letter-spacing: 1.02px;
  }

  @include vp-767 {
    margin: 0 3px 13px 0;
    font-size: 28px;
    letter-spacing: 0.84px;
  }
}

.hero__body-title h1 {
  margin: 0;
  font-size: 92px;
  font-family: $ff-alumni-sans;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 4.36px;
  -webkit-text-stroke-width: 1.5px;

  @include vp-1199 {
    font-size: 72px;
    text-align: end;
    text-transform: inherit;
    letter-spacing: 3px;
    -webkit-text-stroke-width: 2.5px;
  }

  @include vp-767 {
    margin-left: -10px;
  }
}

.hero__button {
  grid-area: 2/2/3/3;
  justify-self: end;

  @include vp-767 {
    grid-area: 2/1/3/3;
    justify-self: stretch;
  }
}

.hero__container img {
  height: 556px;
  transform: translateY(-10px);
  object-fit: cover;

  @include vp-1199 {
    height: 390px;
    transform: translateY(0);
  }
}

.hero__container picture {
  @include vp-767 {
    display: none;
  }
}
