.player {
  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    inset: 0;
    background-color: rgba($color-sapphire, 0.5);
  }

  &--play-video {
    &::before {
      display: none;
    }
  }
}

.player img {
  object-fit: cover;
}

.player__button {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100px;
  height: 100px;
  border: 2px solid rgb(237, 2, 51, 0.2);
  border-radius: 100%;
  color: $color-default-white;
  background-color: $color-transparent;
  transition: all $trans-default;

  &::after {
    position: absolute;
    content: "";
    inset: 0;
    margin: auto;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-image: $play-gradient;
    transition: all $trans-default;
  }

  @include vp-1199 {
    width: 73px;
    height: 73px;

    &::after {
      width: 52px;
      height: 52px;
    }
  }

  @include hover-focus {
    color: $color-sapphire;
    border-color: $color-sapphire;
    outline: none;

    &::after {
      background: $color-default-white;
    }
  }

  @include active {
    color: $color-sapphire;
    border-color: $color-sapphire;

    &::after {
      width: 58px;
      height: 58px;
      background: $color-default-white;

      @include vp-1199 {
        width: 38px;
        height: 38px;
      }
    }
  }

  @include disabled {
    opacity: 0.4;
    color: $color-sapphire;
    border-color: $color-sapphire;
    pointer-events: none;

    &::after {
      background: $color-default-white;
    }
  }
}

.player__icon {
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 1;

  @include vp-1199 {
    width: 9px;
    height: 12px;
  }
}
