.social__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 12px;
  padding: 0;
  margin: 0;
  max-width: 140px;
  list-style-type: none;

  @include vp-1199 {
    gap: 11px;
  }

  @include vp-1199 {
    justify-content: flex-start;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25px;
  min-height: 25px;
  border-radius: 50%;
  background-color: $color-default-white;
  color: $color-black-russian;
  transition: all $trans-default;

  @include hover-focus {
    outline: none;
    background-color: $color-egyptian-blue;
    color: $color-default-white;
  }

  @include active {
    background-color: $color-sapphire;
    color: $color-default-white;
  }

  @include disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
